.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  top: 0;
}

.nav-title {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
}

.nav-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-new-tweet {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  padding-bottom: .5em;
}

#angles-down-icon {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#angles-down-icon:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-10px); }
100% { transform: translateY(0); }
}