.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  margin-top: 20px;
}

.tweet-text {
  font-weight: bold;
}

.textarea-container {
  width: 100%;
  flex-grow: 1;
}

.tweet-box {
  display: flex;
  align-content: center;
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid;
  background-color: #f4f1ec;
  color: #545149;
  margin: .5em 0;
  padding-top: .2em;
}

.tweet-button {
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  padding: .3em
}

.tweet-button:hover {background-color: orange;}

.button-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.red-counter {
  color: red;
}